@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

*{
    margin: 0;
}



:root{
    --fonte: 'Raleway', sans-serif;
    --first-color: #E82E69;
    --purple: #E82E69;
    --bg: #090e16;
    --bg-box: #101926;
}

body{
    font-family: var(--fonte);
}

/* INÍCIO CABEÇALHO */

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--bg);
    padding: 20px;
}

header a{
    text-decoration: none;
    color: #FFF;
    padding: 20px;
}

header a:hover{
    color: var(--first-color);
}

header img{
    width: 40px;
    height: 40px;
}

header .social img{
    padding: 0px 10px 0px 10px;
}

header .social img:hover{
    transform: scale(0.9);
}

nav{
    margin: 20px;
}

/* FINAL CABEÇALHO */

/* COMEÇO BANNER */

.banner{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--bg);
    height: 85vh;
    
}


.banner h1{
    font-size: 60px;
    color: #FFF;
}

.banner #h1-rosa{
    color: var(--first-color);
}

.banner p{
    font-size: 25px;
    color: #FFF;
    margin-bottom: 45px;
}

.texto-banner{
    padding: 120px;
}

.imagem-banner img{
    width: 350px;
    height: 350px;
    padding: 70px;
    
}

.button{
    text-decoration: none;
    color: #FFF;
    background-color: var(--first-color);
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    font-weight: bold;
}

.button:hover{
    background-color: #FFF ;
    color: var(--first-color);
}

/* FINAL BANNER */

/* COMEÇO SOBRE */

.about{
    background-color: var(--bg);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
   
}

.text-about p{
    color: #FFF;
    font-size: 20px;
}

.text-about h1{
    font-size: 60px;
    padding: 25px 0px 25px 0px;
    color: #FFF;
    
}

.text-about em{
    color: var(--purple);
    font-weight: bold;
    font-style: normal;
}

.imagem-about img{
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

.split-about{
    display: flex;
    justify-content: center;
}

.split-about-image{
    display: flex;
    text-align: center;
}

.split-about-text{
    display: flex;
    text-align: center;
}

/* FINAL SOBRE */

/* COMEÇO CONHECIMENTOS */

.skills{
    background-color: var(--bg);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
   
}


.text-skills h1{
    font-size: 60px;
    padding: 25px 0px 25px 0px;
    color: #FFF;
    
}

.text-skills em{
    color: var(--purple);
    font-weight: bold;
    font-style: normal;
}


.split-skills{
    display: flex;
    justify-content: center;
}

.split-skills-image{
    display: flex;
    text-align: center;
}
/* FINAL CONHECIMENTOS */

