@media (max-width: 910px) {
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    header nav{
        display: none;
    }

    header .links-nav{
        margin-top: 20px;
    }

    .banner{
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
        text-align: center;
        justify-content: center;
    }

    .banner .image img{
        width: 250px;
    }

    .about{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .about .text h1{
        text-align: center;
        font-size: 2em;
    }

}

@media (max-width: 600px) {
    .banner{
        padding-top: 25px;
    }
}